<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta content="yes" name="mobile-web-app-capable" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style" />
    <meta content="/" name="msapplication-starturl" />
    <link rel="bookmark" href="<%- favicon %>" />
    <link rel="apple-touch-icon-precomposed" href="<%- favicon %>" />
    <meta name="description" content="<%- description %>" />
    <meta name="keywords" content="<%- keywords %>" />
    <meta name="author" content="杏仁レモンティー" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="<%- themeColor %>" name="theme-color" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="<%- title %>">
    <meta property="og:description" content="<%- description %>">
    <meta property="og:image" content="https://pbs.twimg.com/media/GjAOQk3a4AUIDYK?format=jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="<%- title %>">
    <meta property="twitter:description" content="<%- description %>">
    <meta property="twitter:image" content="https://pbs.twimg.com/media/GjAOQk3a4AUIDYK?format=jpg">
    <link id="favicon" href="<%- favicon %>" rel="icon" />
    <title><%- title %></title>
  </head>
  <body>
    <div id="app"></div>
    <script src="/src/main.js" type="module"></script>
  </body>
</html>
